.example-spacer {
  flex: 1 1 auto;
}


.example-full-width {
  width: 100%;
}


textarea#styled {
	width: 500px;
	height: 50px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	/* background-image: url(bg.gif); */
	background-position: bottom right;
	background-repeat: no-repeat;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}