<md-toolbar color="primary">

	Parking-Management System
	<span class="example-spacer"></span>
	<button md-button  (click)="signOut()">SIGN OUT</button>


</md-toolbar>






<div *ngIf="showFeedbackUsers">
	<md-card *ngFor="let a of usersArray">
		<md-card-content style="padding: 5px;">
			{{a.name}}
			<button md-button color="primary" style="float : right" (click)="message(a.uid)">Message</button>
		</md-card-content>
		<!-- <md-card-actions>
			
		</md-card-actions> -->
	</md-card>
</div>



<div *ngIf="showChat">
	<div style="margin: 10px">
		<a md-mini-fab (click)="back()"><i class="material-icons">arrow_back</i></a>
		<!-- <button> <i class="material-icons">arrow_back</i></button> -->
	</div>

	<div style="padding : 20px"></div>
	<div style="width : 30%;margin : 0 auto;height:400px;overflow : auto">
	<div *ngFor="let chat of showCurrentUserChat | async" style="text-align: center; width: auto;margin: 0 auto;">
		
		<li *ngIf="chat.type == 'admin'" style="padding : 10px;list-style: none; display : block; width : 90%;color: white; margin-bottom : 5px; overflow: hidden;  background-color: #0084FF;  border-top-left-radius: 12px; border-bottom-right-radius: 12px">
		<!-- <span style="float : right;border-radius : 9px;padding : 5px 10px">	{{chat.name}} </span> <br><br> -->
		<span style="font-family:sans-serif; float : right;border-radius : 9px;padding:5px 10px;text-align : right"> {{chat.message}} </span>

		</li>
	<span *ngIf="chat.type == 'user'" style="font-size : 12px;font-family:sans-serif;float : left;border-radius : 9px;padding : 5px 10px">  {{chat.name}}</span>
	  <li *ngIf="chat.type == 'user'" style="padding : 10px;list-style: none;width : 90%;color : black;margin-bottom : 5px;overflow : hidden; background-color: lightgrey;  border-top-right-radius: 12px; border-bottom-left-radius: 12px">
		<!-- <span style="float : left;border-radius : 9px;padding : 5px 10px">  {{chat.name}}</span> <br> <br> -->
		<span style="float : left;border-radius : 9px;padding : 5px 10px"> {{chat.message}}</span>
	  </li>

	</div>
	</div>


	<!-- <div style="text-align : center;margin-top : 20%">
		<textarea [(ngModel)]="adminFeedback" name="styled-textarea" id="styled" onfocus="this.value=''">Enter your feedback here...</textarea>
	</div> -->
	<div style="padding : 10px"></div> 
	<p style="width: 30%;margin: 0 auto;">
    <md-input-container class="example-full-width">
      <textarea style="font-family : sans-serif" mdInput placeholder="type your feedback here" [(ngModel)]="userFeedback"></textarea>
	</md-input-container>
</p>
	<div style="text-align : center">
		<button [disabled]="!adminFeedback" md-button color="primary" (click)="submitFeedback(adminFeedback)">Submit</button>
	</div>




</div>