.example-spacer {
  flex: 1 1 auto;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
.th2,.td2{
	padding: 20px;
}

/* 
.table2,.td2 {
    border: 1px solid black;
    border-collapse: collapse;
}
.td2 {
    padding: 5px;
    text-align: left;

}
 */

