<md-toolbar color="primary">

	Parking-Management System
	<span class="example-spacer"></span>
	<button md-button  (click)="signOut()">SIGN OUT</button>


</md-toolbar>

	  <table style="width: 100%;" class="rwd-table">
			<tr>
				<th>NAME</th>
				<th>EMAIL</th>
				<th>DETAIL</th>
				<!-- <div > -->
				<th style="position: relative;right: 10%;" >REMOVE</th>
				<!-- </div> -->
			</tr>
			<tr *ngFor="let a of usersArray">
			
				<td>{{a.userName}}</td>
				<td>{{a.userEmail}}</td>
				<td><button md-raised-button color="primary" (click)="openDialog(a.userUid)">Details</button></td>
				<!-- <div style="position: relative;right: 60%;">	 -->
				<td  style="position: relative;right: 10%;" >
				<button md-raised-button color="warn" (click)="cancelUser(a.userEmail,a.userUid)">Remove</button>
				</td>
                  <!-- </div> -->
				<!--<td><button md-raised-button color="warn" (click)="cancelBookingOfChargedParking(a.selectedDate,a.timeDuration,a.userKey)">Cancel</button></td>-->
			</tr>

		</table>
    <!--<button md-button (click)="openDialog()">Launch dialog</button>-->


