<md-toolbar color="primary">

  Parking-Management System
  <span class="example-spacer"></span>
  <button md-button color="warn" routerLink="/app-signup">SIGN UP</button>

</md-toolbar>
<h3 class="page-heading" >LOGIN</h3>
<hr class="hr" >
                     
       


<md-card style="width: 400px;margin: 0 auto;">
  <form [formGroup]="loginForm">
  <md-list>

    <md-list-item class="center-list" >
      <md-input-container>
        <input formControlName="userEmail" mdInput placeholder="Email" >
      </md-input-container>
    </md-list-item>


    
    <md-list-item class="center-list">
      <md-input-container>
        <input formControlName="userPassword" mdInput placeholder="Password" >
      </md-input-container>
    </md-list-item>

    <!--<md-list-item>Item 3</md-list-item>-->
  </md-list>
  <div style="text-align:center">
  <button md-button color="primary" (click)="submit()">SUBMIT</button>
  </div>
  
  </form>
 
</md-card>
 <!--<md-spinner [mode]="isDeterminate" ></md-spinner>-->


