<md-toolbar color="primary">

	Parking-Management System
	<span class="example-spacer"></span>  
	<div>
	<button md-button  routerLink="/admin">HOME</button>
	<button md-button  routerLink="app-all-users">All USERS</button>
	<button md-button  routerLink="app-admin-feedback">FEEDBACK</button>
	<button md-button  (click)="signOut()">SIGN OUT</button>
	
    </div>

</md-toolbar>



<md-tab-group>
  <md-tab label="Parking Plaza">
	  	<table style="width: 100%;" class="rwd-table">
			<tr>
				<th>Date</th>
				<th>Slot Number</th>
				<th>Booking Time</th>
				<th>Cancel Booking</th>
			</tr>
			<tr *ngFor="let a of parkingPlazaArray">
				<!-- <td >{{a.date}}</td> -->
				<td>{{a.selectedDate}}</td>
				<td>{{a.slot}}</td>
				<td>{{a.timeDuration}}</td>
				<td><button md-raised-button color="warn" (click)="cancelBookingOfParkingPlaza(a.selectedDate,a.timeDuration,a.userKey,a.uid)">Cancel</button></td>
			</tr>

		</table>
  </md-tab>
  <md-tab label="Charged Parking">
	  	<table style="width: 100%;" class="rwd-table">
			<tr>
				<th>Date</th>
				<th>Slot Number</th>
				<th>Booking Time</th>
				<th>Cancel Booking</th>
			</tr>
			<tr *ngFor="let a of ChargedParkingArray">
			
				<td>{{a.selectedDate}}</td>
				<td>{{a.slot}}</td>
				<td>{{a.timeDuration}}</td>
				<td><button md-raised-button color="warn" (click)="cancelBookingOfChargedParking(a.selectedDate,a.timeDuration,a.userKey,a.uid)">Cancel</button></td>
			</tr>

		</table>
  </md-tab>
  <md-tab label="Cantt Station Parking">
	  		<table style="width: 100%;" class="rwd-table">
			<tr>
				<th>Date</th>
				<th>Slot Number</th>
				<th>Booking Time</th>
				<th>Cancel Booking</th>
			</tr>
			<tr *ngFor="let a of CanttStaionArray">
				
				<td>{{a.selectedDate}}</td>
				<td>{{a.slot}}</td>
				<td>{{a.timeDuration}}</td>
				<td><button md-raised-button color="warn" (click)="cancelBookingForCanttStation(a.selectedDate,a.timeDuration,a.userKey,a.uid)">Cancel</button></td>
			</tr>

		</table>
  </md-tab>
</md-tab-group>