<md-toolbar color="primary">

	Parking-Management System
	<span class="example-spacer"></span>
	<div>
		<button md-button routerLink="/dashboard">HOME</button>
		<button md-button routerLink="/dashboard/app-my-bookings">MY BOOKINGS</button>
		<button md-button routerLink="/dashboard/app-feedback">FEEDBACK</button>
		<button md-button routerLink="/dashboard/app-update-profile">UPDATE PROFILE</button>
		<button md-button (click)="signOut()">SIGN OUT</button>
	</div>
</md-toolbar>

<md-tab-group>
	<md-tab label="Parking Plaza">
		<table class="container">
			<thead>
				<tr>
					<th>
						<h1>Date</h1>
					</th>
					<th>
						<h1>Slot Number</h1>
					</th>
					<th>
						<h1>Booking Time</h1>
					</th>
					<th>
						<h1>Cancel Booking</h1>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let a of parkingPlazaArray">

					<td>{{a.selectedDate}}</td>
					<td>{{a.slot}}</td>
					<td>{{a.timeDuration}}</td>
					<td><button style="position:relative;left : 30%" md-raised-button color="warn" (click)="cancelBookingOfParkingPlaza(a.selectedDate,a.timeDuration,a.userKey)">Cancel</button></td>
				</tr>
			</tbody>
		</table>
	</md-tab>
	<md-tab label="Charged Parking">
		<table class="container">
			<thead>
				<tr>
					<th>
						<h1>Date</h1>
					</th>
					<th>
						<h1>Slot Number</h1>
					</th>
					<th>
						<h1>Booking Time</h1>
					</th>
					<th>
						<h1>Cancel Booking</h1>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let a of ChargedParkingArray">

					<td>{{a.selectedDate}}</td>
					<td>{{a.slot}}</td>
					<td>{{a.timeDuration}}</td>
					<td><button style="position:relative;left : 30%" md-raised-button color="warn" (click)="cancelBookingOfChargedParking(a.selectedDate,a.timeDuration,a.userKey)">Cancel</button></td>
				</tr>
			</tbody>
		</table>

	</md-tab>
	<md-tab label="Cantt Station Parking">
		<table class="container">
			<thead>
				<tr>
					<th>
						<h1>Date</h1>
					</th>
					<th>
						<h1>Slot Number</h1>
					</th>
					<th>
						<h1>Booking Time</h1>
					</th>
					<th>
						<h1>Cancel Booking</h1>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let a of CanttStaionArray">

					<td>{{a.selectedDate}}</td>
					<td>{{a.slot}}</td>
					<td>{{a.timeDuration}}</td>
					<td><button style="position:relative;left : 30%" md-raised-button color="warn" (click)="cancelBookingForCanttStation(a.selectedDate,a.timeDuration,a.userKey)">Cancel</button></td>
				</tr>
			</tbody>
		</table>
	</md-tab>
</md-tab-group>