<md-toolbar color="primary">

	Parking-Management System
	<span class="example-spacer"></span>
	<button md-button routerLink="/">LOGIN</button>
</md-toolbar>

<h3 class="page-heading">SIGNUP</h3>
<hr class="hr">


<md-card style="width: 400px;margin: 0 auto;">

	<form [formGroup]="signupForm">
		<md-list>
			<md-list-item class="center-list">
				<md-input-container>
					<input type="text"  formControlName="userName" mdInput placeholder="Name">
					<md-error>Name required</md-error>
				</md-input-container>
			</md-list-item>
			<md-list-item class="center-list">
				<md-input-container>
					<input type="text" formControlName="userLastName" mdInput placeholder="Last Name">
					<md-error>Last Name is required</md-error>
				</md-input-container>
			</md-list-item>

			<md-list-item class="center-list">
				<md-input-container>
					<input type="email" formControlName="userEmail" mdInput placeholder="Email">
					<md-error>Email is required</md-error>
				</md-input-container>
			</md-list-item>



			<md-list-item class="center-list">
				<md-input-container>
					<input type="password" formControlName="userPassword" mdInput placeholder="Password">
					<md-error>Password is required</md-error>
				</md-input-container>
			</md-list-item>
			<md-list-item class="center-list">
				<md-input-container>
					<input type="number" formControlName="userTelephone" mdInput placeholder="Telephone">
					<md-error>Telephone is required</md-error>
				</md-input-container>
			</md-list-item>
			<md-list-item class="center-list">
				<md-input-container>
					<input type="number" formControlName="userCNIC" mdInput placeholder="CNIC">
					<md-error>CNIC is required</md-error>
				</md-input-container>
			</md-list-item>
			<md-list-item class="center-list">
				<md-input-container>
					<input type="text" formControlName="userAddress" mdInput placeholder="Address">
					<md-error>Address is required</md-error>
				</md-input-container>
			</md-list-item>


		</md-list>
		<div style="text-align:center">
			<button md-button md-raised-button color="primary" [disabled]="!this.signupForm.valid" (click)="submit()">SUBMIT</button>
		</div>
	</form>
</md-card>