<md-toolbar color="primary">

	Parking-Management System
	<span class="example-spacer"></span>
	<button md-button color="warn" (click)="signOut()">SIGN OUT</button>

</md-toolbar>
<div *ngIf="showParkingPlaza">
	<div style="text-align :center">

		<form [formGroup]="demoForm">

			<md-input-container>
				<input mdInput [mdDatepicker]="picker" [min]="minDate" placeholder="Choose a date" formControlName="dateOptions">
				<button mdSuffix [mdDatepickerToggle]="picker"></button>
			</md-input-container>
			<md-datepicker #picker></md-datepicker>

			<div style="margin: 3%;">
				<md-select placeholder="select time" formControlName="timeOptions">
					<md-option *ngFor="let time of times" [value]="time.value">
						{{ time.viewValue }}
					</md-option>
				</md-select>
				<br><br><br>
			</div>
			<div style="margin: 3%;">
				<md-select placeholder="select reserved hours" #t formControlName="reservedHoursOptions">
					<md-option *ngFor="let reservedHour of reserved_hours" #c [value]="reservedHour.value">
						{{ reservedHour.viewValue }} {{t.value}}
					</md-option>
					{{t.value}}
				</md-select>
				{{t.value}}
				<br><br><br>
			</div>
			<button color="primary" md-raised-button (click)="submit()">Submit</button>
		</form>

	</div>
	<div>

		<div *ngIf="allSlots">
			<div *ngFor="let a of buttons">
				<div *ngIf="a.reserved == false">
					<button color="primary" style="margin : 10px" md-raised-button (click)="slots(a.slotNumber)">Slot {{a.slotNumber}}</button>
				</div>
				<div *ngIf="a.reserved == true">
					<button style="color : black; background : yellow" md-raised-button>Booked</button>
				</div>
			</div>
		</div>

	</div>
<!-- <div *ngFor="let a of allUserstimeDateAndSlotArray">{{a | json}}</div> -->
</div>


<div *ngIf="showCurrentBooking">
	<table>
		<tr>
			<th>Date</th>
			<th>Slot Number</th>
			<th>Booking Time</th>
			<th>Cancel Booking</th>
		</tr>
		<tr *ngFor="let a of userBookingArray">
			<!-- <td >{{a.date}}</td> -->
			 <td>{{a.date}}</td>
			<td>{{a.slotNum}}</td>
			<td>{{a.timeDuration}}</td> 
			<td><button md-raised-button color="warn" (click)="cancelBooking()">Cancel</button></td>
		</tr>

	</table>
</div>