<md-toolbar color="primary">

	Parking-Management System
	<span class="example-spacer"></span>
	<div>
		<button md-button routerLink="/dashboard">HOME</button>
		<button md-button routerLink="/dashboard/app-my-bookings">MY BOOKINGS</button>
		<button md-button routerLink="/dashboard/app-feedback">FEEDBACK</button>
		<button md-button routerLink="/dashboard/app-update-profile">UPDATE PROFILE</button>
		<button md-button (click)="signOut()">SIGN OUT</button>
	</div>

</md-toolbar>
<div *ngIf="showParkingPlaza">
	<div style="text-align :center">

		<form [formGroup]="parkingPlazaForm">
			<div style="margin: 3%;padding : 40px">
				<md-input-container>
					<input mdInput [mdDatepicker]="picker" (ngModelChange)="onDateChange($event)" [min]="minDate" placeholder="Choose a date"
					 formControlName="dateOptions">
					<button mdSuffix [mdDatepickerToggle]="picker"></button>
				</md-input-container>
				<md-datepicker #picker></md-datepicker>
			</div>
			<div *ngIf="isTime" style="margin: 3%;padding : 40px">
				<md-select style="width : 14%" placeholder="select time" (change)="onTimeChange($event)" formControlName="timeOptions">
					<md-option *ngFor="let time of times" [value]="time.value">
						{{ time.viewValue }}
					</md-option>
				</md-select>
				<br><br><br>
			</div>
			<div *ngIf="isReservedHours" style="margin: 3%;padding : 40px">
				<md-select style="width : 14%" placeholder="select reserved hours" (change)="onReservedHrsChange($event)" #t formControlName="reservedHoursOptions">
					<md-option *ngFor="let reservedHour of reserved_hours" #c [value]="reservedHour.value">
						{{ reservedHour.viewValue }} {{t.value}}
					</md-option>
					{{t.value}}
				</md-select>
				{{t.value}}
				<br><br><br>
			</div>

			<div *ngIf="isSubmitButton">
				<button style="width: 200px" color="primary" md-raised-button (click)="submit()">SUBMIT</button>
			</div>



		</form>

	</div>
</div>



<div *ngIf="allSlots">
	<div style="margin: 10px">
		<a md-mini-fab (click)="back()"><i class="material-icons">arrow_back</i></a>

	</div>
	<md-card style="background : orange;text-align : center">
		<div *ngFor="let a of buttons;let i = index" style="background : green;display : inline;text-align : center">


			<div *ngIf="a.reserved == false" style="background:yellow;display : inline;text-align : center">

				<button style="text-align : center" color="primary" style="margin : 10px" md-raised-button (click)="slots(a.slotNumber)">Slot {{a.slotNumber}}</button>
				<br *ngIf="(i % 3 == 2)">
			</div>



			<div *ngIf="a.reserved == true" style="display : inline">

				<button style="color : black; background : yellow" md-raised-button>Booked</button>
				<br *ngIf="(i % 3 == 2)">
			</div>
		</div>
	</md-card>
</div>