.example-spacer {
  flex: 1 1 auto;
}
 md-card:hover{ 
	 cursor: pointer; 
	 background:  #E0E0E0 ; 
	 border : 5px solid #E0E0E0 ; 
	/* color : #F1F1F1 */
 }  
/* md-card:focus{
	cursor: default;
	box-shadow: 
} */