<md-toolbar color="primary">

  Parking-Management System
  <span class="example-spacer"></span>
   <button md-button color="warn" routerLink="app-my-bookings">MY BOOKINGS</button>
  <button md-button color="warn" (click)="signOut()">SIGN OUT</button>
 

</md-toolbar>

 <!--<button md-button color="warn" routerLink="demo">DEMO</button>-->
<md-card style="margin: 20px;">
  <md-card-title>
    Charged Parking
  </md-card-title>
  
  <md-card-content>
    Address : 
    Charged Parking Near Abullah Haroon Road,M.A Jinnah Road, Karachi.
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-button routerLink="charged-parking">Booking</button>
  </md-card-actions>
</md-card>

<md-card style="margin: 20px;">
  <md-card-title>
    Cantt. Station Car Park
  </md-card-title>
  
  <md-card-content>
    Address : 
    Cantt. Station Car Park, Business Recorder Rd, Karachi, Pakistan.
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-button routerLink="cantt-station-parking">Booking</button>
  </md-card-actions>
</md-card>


<md-card style="margin: 20px;">
  <md-card-title>
    Parking Plaza
  </md-card-title>
  
  <md-card-content>
    Address : 
    Parking Plaza, New MA Jinnah Road,Saddar, Karachi.
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-button routerLink="parking-plaza">Booking</button>
  </md-card-actions>
</md-card>



